/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */
@import 'scrollingnotes';

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
}

header {
  font-size: 2em;
  margin: 20px;
  color: $caption-color;
  text-align: center;
  background: $foreground-color url('../images/design/heading.png') center 20px no-repeat;
  padding: 60px 30px 30px;
  background-size: 160px;
}

main {
  background: $body-foreground-color;
  color: $foreground-color;
  text-align: center;
  padding: 10px;
  max-width: 770px;
  min-width: 420px;
  margin: 0 auto;
}

a {
  color: $link-color;
}

address {
  color: $accent-color;
}

.feedback {
  height: 600px;
  font-family: Arial, "sans-serif";
}
.highlight {
  fill: #0a9ecc;
}
.abcjs-cursor {
  stroke: red;
}
.audio-error {
  color: red;
  border: 2px solid red;
  padding: 10px;
}
.click-explanation {
  color: red;
  font-style: italic;
}
.beat {
  font-weight: bold;
  clear: both;
}
.label {
  color: #888888;
}

.logo {
  margin: 0 auto;
  display: block;
}

.cleaner {
  clear: both;
}

.removal-indicator {
  color: red;
  font-weight: bold;
  font-size: 16px;
  display: none;
}

.abcjs-inline-audio {
  display: none !important;
}

.playercontrols {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff0f0;
  margin: 0 0 10px;
  padding: 15px;

  span.title {
    color: #2a5b80;
    font-size: 20px;
    min-height: 33px;
    display: inline-block;
    white-space: nowrap;
  }

  .buttons {
    font-size: 32px;
    color: #257aae;
    span:hover {
      color: #80cfff;
    }
    span:active {
      color: #57cff4;
    }
    cursor: pointer;
  }

  .songControls {
    .buttons {
      min-width: 170px;      
    }
    span.currentBeat {
      display: block;
      text-align: left;
    }
  }

  .controls {
    display: flex;
    justify-content: space-evenly;
  }

  .transposition {
    span.currentTransposition {
      font-size: 64px;
      text-align: right;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }

  .tempo {
    span.currentTempo {
      font-size: 64px;
      text-align: right;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }

  .chanterControls {
    span.currentChanter {
      font-size: 64px;
      text-align: right;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }

  .keySigControls {
    span.currentKeySig {
      font-size: 45px;
      text-align: right;
      padding-top: 10px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      color: rgba(0,0,0, 0.3);
      cursor: pointer;
      span:hover {
        color: rgba(0,0,0, 0.3);
      }
    }
  }

}

.playernotes {

  display: flex;
  justify-content: space-evenly;

  .playercontainer {
    background-color: #ebefff;
    min-height: 600px;
    min-width: 75%;
    padding: 15px;
  }

  .noteDiagram {
    text-align: left;
    background-color: #fff1eb;
    padding: 15px;

    h1 {
      text-align: center;
      font-size: 64px;
    }
  }
}

.metaData {
  clear: both;
  text-align: left;
}

@mixin unplayable-note {
  background-image: none;
  color: red !important;
}

.unplayable-note {
  @include unplayable-note;
}

.playable_chanter-ea {
  @mixin playable-note {
    background-image: url("../images/content/onescalloped.png");
    color: #000;
  }

  background-image: none;
  background-repeat: no-repeat;
  min-height: 600px;
  line-height: 50px;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  width: 120px;
  display: inline-block;


  //D, [Eb], E, [F], Gb, G, Ab, A, [Bb], B, C, Db, D, [Eb], E
  //62 63    64 65   66  67 68  69  70   71 72 73  74 75    76
  //#["D", "E", "F#", "G", "Ab", "A", "B", "C", "Db"]
  &.playable_pitch-62 {
    @include playable-note;
    background-position: -20px 65px;
  }
  &.playable_pitch-64 {
    @include playable-note;
    background-position: -154px 65px;
  }
  &.playable_pitch-74 {
    @include playable-note;
    background-position: -1232px 65px;
  }
  &.playable_pitch-76 {
    @include playable-note;
    background-position: -1366px 65px;
  }
  &.playable_pitch-66 {
    @include playable-note;
    background-position: -289px 65px;
  }
  &.playable_pitch-67 {
    @include playable-note;
    background-position: -423px 65px;
  }
  &.playable_pitch-68 {
    @include playable-note;
    background-position: -557px 65px;
  }
  &.playable_pitch-69 {
    @include playable-note;
    background-position: -691px 65px;
  }
  &.playable_pitch-71 {
    @include playable-note;
    background-position: -830px 65px;
  }
  &.playable_pitch-72 {
    @include playable-note;
    background-position: -963px 65px;
  }
  &.playable_pitch-73 {
    @include playable-note;
    background-position: -1098px 65px;
  }
}


.playable_chanter-dg {
  @mixin playable-note {
    background-image: url("../images/content/twoscalloped.png");
    color: #000;
  }

  background-image: none;
  background-repeat: no-repeat;
  min-height: 600px;
  line-height: 50px;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  width: 120px;
  display: inline-block;


  //C, [Db], D, [Eb], E, F, Gb, G, [Ab], A, Bb, B, C, Db, D
  //60 61    62 63    64 65 66  67 68    69 70  71 72 73  74
  //["C", "D", "E", "F", "Gb", "G", "A", "Bb", "B", "Db"]
  &.playable_pitch-60 {
    @include playable-note;
    background-position: -20px 65px;
  }
  &.playable_pitch-62 {
    @include playable-note;
    background-position: -154px 65px;
  }
  &.playable_pitch-64 {
    @include playable-note;
    background-position: -289px 65px;
  }
  &.playable_pitch-65 {
    @include playable-note;
    background-position: -423px 65px;
  }
  &.playable_pitch-66 {
    @include playable-note;
    background-position: -557px 65px;
  }
  &.playable_pitch-67 {
    @include playable-note;
    background-position: -691px 65px;
  }
  &.playable_pitch-69 {
    @include playable-note;
    background-position: -830px 65px;
  }
  &.playable_pitch-70 {
    @include playable-note;
    background-position: -963px 65px;
  }
  &.playable_pitch-71 {
    @include playable-note;
    background-position: -1098px 65px;
  }
  &.playable_pitch-72 {
    @include playable-note;
    background-position: -1232px 65px;
  }
  &.playable_pitch-73 {
    @include playable-note;
    background-position: -1366px 65px;
  }
  &.playable_pitch-74 {
    @include playable-note;
    background-position: -1500px 65px;
  }
}

.playable_chanter-cf {
  @mixin playable-note {
    background-image: url("../images/content/twoscalloped.png");
    color: #000;
  }

  background-image: none;
  background-repeat: no-repeat;
  min-height: 600px;
  line-height: 50px;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  width: 120px;
  display: inline-block;

  // Bb, [B], C, [Db], D, Eb, E, F, [Gb], G, Ab, A, Bb, B, C
  // 58  59   60 61    62 63  64 65 66    67 68  69 70  71 72
  //["Bb", "C", "D", "Eb", "E", "F", "G", "Ab", "A", "B"]
  &.playable_pitch-58 {
    @include playable-note;
    background-position: -20px 65px;
  }
  &.playable_pitch-60 {
    @include playable-note;
    background-position: -154px 65px;
  }
  &.playable_pitch-62 {
    @include playable-note;
    background-position: -289px 65px;
  }
  &.playable_pitch-63 {
    @include playable-note;
    background-position: -423px 65px;
  }
  &.playable_pitch-64 {
    @include playable-note;
    background-position: -557px 65px;
  }
  &.playable_pitch-65 {
    @include playable-note;
    background-position: -691px 65px;
  }
  &.playable_pitch-67 {
    @include playable-note;
    background-position: -830px 65px;
  }
  &.playable_pitch-68 {
    @include playable-note;
    background-position: -963px 65px;
  }
  &.playable_pitch-69 {
    @include playable-note;
    background-position: -1098px 65px;
  }
  &.playable_pitch-70 {
    @include playable-note;
    background-position: -1232px 65px;
  }
  &.playable_pitch-71 {
    @include playable-note;
    background-position: -1366px 65px;
  }
  &.playable_pitch-72 {
    @include playable-note;
    background-position: -1500px 65px;
  }
}
