@mixin unplayable-note {
  background-image: none;
  background-color: red;
  width: 48px;
  height: 150px;
}

@mixin pn {
  color: #000;
  max-height: 200px;
  min-height: 150px;
  width: 48px;
  display: inline-block;
  background-size: auto 100%;
  background-color: #fff;
}


.scrollingNotesWrapper {
  overflow-y: hidden;
  max-height: 200px;
  height: 170px;
  padding-top: 10px;
  text-align: left;
  line-break: unset;
  white-space: nowrap;
}

/*

.playable_duration-13 {
  margin-right: 65px !important;
}

.playable_duration-25 {
  margin-right: 125px !important;
}

.playable_duration-50 {
  margin-right: 250px !important;
}

*/


section {
  h4 {
    color: blue;
    font-size: 12px;
    padding-left: 2px;
  }
}

section.unplayable_note {
  @include unplayable-note;
  h4 {
    color: yellow;
    font-size: 20px;
    padding-left: 5px;
    overflow: hidden;
    position: relative;
    top: 0px;
  }
}

section.incompatible_pitch {
  background-color: #ff500c !important;
}

@mixin scrollingNoteDur {
  background-image: url("../images/content/notesprite.png");
  width: 30px;
  height: 30px;
  margin-left: 3px;;
  border: 1px solid #000;
  background-position-x: 0px;
  background-position-y: 29px;
  background-size: auto 123%;
  position: relative;
  top: 103px;
  border-radius: 12px;
}

@mixin dottedNote {
  &:before {
    content: "\2022";
    color: #000;
    position: relative;
    top: 9px;
    right: -19px;
    font-size: 10px;
  }
}

.scrollingNotesWrapper {
  section {
    @include shadowed;
    & > div {
      @include shadowed;
    }
  }
  section.currentNote {
    box-shadow: none;
    & > div {
      box-shadow: none;
    }
  }
  section[data-measurestart] > div {
    background-color: #bcffbc;
    background-blend-mode: multiply;
  }
  section.currentNote[data-duration] > div {
    background-color: #fbc500;
    background-blend-mode: multiply;
  }
  section[data-duration="1"] > div {//whole, appears as a hollow oval
    @include scrollingNoteDur;
    background-position-x: 7px;
  }
  section[data-duration="0.75"] > div, 
  section[data-duration="0.625"] > div {
    @include scrollingNoteDur;
    background-position-x: -23px;
    @include dottedNote;
  }
  section[data-duration="0.5"] > div {
    @include scrollingNoteDur;
    background-position-x: -23px;
  }
  section[data-duration="0.375"] > div {
    @include scrollingNoteDur;
    background-position-x: -50px;
    @include dottedNote;
  }
  section[data-duration="0.25"] > div {
    @include scrollingNoteDur;
    background-position-x: -50px;
  }
  section[data-duration="0.1875"] > div {
    @include scrollingNoteDur;
    background-position-x: -82px;//@TODO image needs a dot
    @include dottedNote;
  }
  section[data-duration="0.125"] > div, 
  section[data-duration="0.0938"] > div,
  section[data-duration="0.0834"] > div {
    @include scrollingNoteDur;
    background-position-x: -82px;
  }
  section[data-duration="0.0625"] > div {
    @include scrollingNoteDur;
    background-position-x: 153px;
  }
  section[data-duration="0.0313"] > div,
  section[data-duration="0.0417"] > div {
    @include scrollingNoteDur;
    background-position-x: 126px;
  }
}

main.mobile {
  section.firstScrollingNote {
    width: 100px !important;
  }
}

.scrolling_notes-playable_tuning-bb {
  @mixin playable-note {
    background-image: url("../images/content/onescalloped.png");
    @include pn;
  }

  @mixin playable-note-alt {
    background-image: url("../images/content/onescalloped-alt.png");
    @include pn;
  }

  @mixin semi-playable-note-alt {
    background-color: #001d97d6 !important;
    background-blend-mode: difference;
    h4 {
      color: #000;
      font-size: 13px;
    }
  }


  background-image: none;
  background-repeat: no-repeat;
  background-color: #7e9fb58a;
  height: 170px;

  section {
    margin: 0px 5px 0px 5px;
    &.firstScrollingNote {
      height: 150px;
      width: 400px;//may be overridden by directive above
      background-color: #3e3e3e;
    }
  }
  .currentNote {
    border-left: 5px solid #fbc500;
    border-right: 5px solid #fbc500;
    width: 57px !important;
  }
  //D, [Eb], E, [F], Gb, G, Ab, A, [Bb], B, C, Db, D, [Eb], E
  //62 63    64 65   66  67 68  69  70   71 72 73  74 75    76

  //G, [G#], A, [A#], B, [C], C#, D, [D#], E, [F], F#, G, [G#], A
  //67  68  69   70   71 72   73  74  75   76  77  78  79  80   81

  //#["D", "E", "F#", "G", "Ab", "A", "B", "C", "Db"]
  .playable_pitch-67 {//G
    @include playable-note;
    background-position: 3px 0px;//postion 1
  }
  .unplayable_pitch-68 {//G#
    @include playable-note-alt;
    background-position: -38px 0px;//position 2
    background-blend-mode: color-burn;
  }
  .playable_pitch-69 {//A
    @include playable-note;
    background-position: -38px 0px;//position 2
  }
  .playable_pitch-70 {//A#
    @include playable-note-alt;
    @include semi-playable-note-alt;
    background-position: -81px 0px;//position 3
  }
  .playable_pitch-71 {//B
    @include playable-note;
    background-position: -81px 0px;//position 3
  }
  .playable_pitch-72 {//C
    @include playable-note;
    @include semi-playable-note-alt;
    background-position: -123px 0px;//position 4
  }
  .playable_pitch-73 {//C#
    @include playable-note;
    background-position: -163px 0px;//position 5
  }
  .playable_pitch-74 {//D
    @include playable-note;
    background-position: -204px 0px;//position 6
  }
  .unplayable_pitch-75 {//D#
    @include playable-note-alt;
    background-position: -246px 0px;//position 6
    background-blend-mode: color-burn;
  }
  .playable_pitch-76 {//E
    @include playable-note;
    background-position: -246px 0px;//position 7
  }
  .playable_pitch-77 {//F
    @include playable-note;
    background-position: -288px 0px;//position 8
  }
  .playable_pitch-78 {//F#
    @include playable-note;
    background-position: -328px 0px;//position 9
  }
  .playable_pitch-79 {//G
    @include playable-note;
    background-position: -370px 0px;//position 10
  }
  .playable_pitch-80 {//G#
    @include playable-note;
    background-position: -410px 0px;//position 11
  }
  .playable_pitch-81 {//A
    @include playable-note;
    background-position: -452px 0px;//position 12
  }
}
